# Visual Studio
.vs/
[Oo]bj/
[Bb]in/
*.user
*.suo

# VS Code
.vscode/

# Rider
.idea/

# Dotnet
project.lock.json
project.fragment.lock.json
artifacts/

# OS
.DS_Store
Thumbs.db

# Docker
node-ipc/
node-data/
postgres_data/
